@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Black.woff) format('woff')
}

html,
body {
    background-color: #90E0EF;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
}

.inter {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: -0.014em;
    background-color: #90E0EF;
    color: #03045E;
}

.bigText {
    font-size: 36px;
    color: #03045E;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 5vh;
}