@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff) format('woff')
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Black.woff) format('woff')
}

html,
body {
    background-color: rgb(227, 226, 226);
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
}

.sec-body {
    margin: 0 auto;
    width: 70%;
}

.inter {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: -0.014em;
}


.fade-in {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-early {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-late {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

button:focus {outline:0;}
input:focus {outline:0;}

a {
    color: deepskyblue;
    transition: color 200ms; /* Add a transition for the 'color' property over 200ms */
}

a:hover {
    color: darkorange;
}
